.productContainer {
  display:grid;
  grid-template-columns: 1fr;
  width:70%;
  grid-gap:15px;
  margin:50px auto;
  padding: 0 20px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
.CartContains{
  margin:50px auto;
}
@media only screen and (min-width:501px)  and (max-width:990px){
.productContainer {
  width:100%;
  grid-gap:10px;
  margin:40px auto;
  padding: 0 10px;
}
}
@media only screen and (min-width:0px)  and (max-width:500px){
.productContainer {
  display:grid;
  grid-template-columns: 1fr;
  width:100%;
  grid-gap:10px;
  margin:30px auto;
  padding: 0 10px;
}
}



