.Container{
   background-color: whitesmoke;
   padding:30px 0px;
   margin-top:80px;
   position:absolute;
   bottom:100;
   width: 100%;
}
.Footer{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    padding-bottom: 10px;  
}
.Footer>div{
  text-align: start;
  line-height: 35px;
  font-weight: lighter;
}
.Bold{
    color:#393939;
    font-weight: bold;
}
.Icons{
    display:flex;
    gap:15px;
    font-size:33px;
    padding:20px 0px;
}
.Footer li{
    list-style-type: none;
    font-size: 15px;
}
.Footer li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.Part2{
    display: flex;
}
.Part2>div{
    display:flex;
    flex:1;
    font-weight: light;
    font-size: 14px;
    padding-left: 12px;
}

@media only screen and (min-width:501px)  and (max-width:990px){
.Footer{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    padding-bottom:10px;
}
.Footer>div{
  text-align: start;
  line-height:20px;
  font-weight: lighter;
  
}
.Footer li{
    list-style-type: none;
    font-size: 10px;
}
}
@media only screen and (min-width:0px)  and (max-width:500px){
.Footer{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding-bottom:10px;
   
}
.Footer>div{
  text-align: start;
  line-height:20px;
  font-weight: lighter;
}
.Footer li{
    list-style-type: none;
    font-size: 10px;
}
}

