.Slide2{
  background-image: url("https://n.nordstrommedia.com/id/472581c9-6ba6-4a9e-8977-334e9c81c07c.jpeg?h=400&w=1608");
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display:flex;
  align-items: center;
  /* background-attachment: fixed; */

}
.Slide1{
  background-image: url("https://n.nordstrommedia.com/id/78284f80-495b-448f-9a3a-325def51e11f.jpeg?h=400&w=1608");
  height:400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  /* background-attachment: fixed; */

}
.Info{
   width:50%;
   padding:40px;
   padding-left: 200px;
}
.Child{
    display: flex;
    gap:20px;
    text-decoration: underline;
}
.Child>p:hover{
   cursor:pointer;
}
@media only screen and (min-width:501px)  and (max-width:990px){
.Info{
   width:50%;
   padding:10px;
   padding-left:20px;
}
.Info>p{
   font-size:14px;
}
.Child{
    gap:10px; 
}
}

@media only screen and (min-width:0px)  and (max-width:500px){
.Not{
  display: none;
}
}





